* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack;
    font-size: 8pt;
    min-height: 0;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,oeuoeu
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
}

#battery.charging {
    background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
}
label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}
