[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[hugepages]
row=5
col=0

[6287f2a4-9173-4c8e-9a32-a15c2f91e1c2]
row=3
col=0

[CD0E-BD21]
row=4
col=0

[lock]
row=1
col=1

[var]
row=0
col=1

[tmp]
row=8
col=0

[opt]
row=7
col=0

[home]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/rmw]
row=2
col=0

